<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-chip  slot="end">
      <ion-label class="username">Welcome {{username}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid" *ngFor="let template of templates">
    <ion-card>
      <ion-card-content>
        <ion-img [src]="'data:image/png;base64, '+template.template_name"></ion-img>
        <ion-button color="light" (click)="edit(template.template_name)">Edit</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-label id="template_name">{{template.image_name}}</ion-label>
  </div>
</ion-content>