<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" id="choose-file" (click)="popFileChooser()">
      Upload Logo
      <input type="file" (change)="onSelectFile($event)" accept="image/png, image/gif, image/jpeg" #uploader hidden>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-content id="image">
        <!-- <ion-img [src]="logo" id="logo"></ion-img> -->
        <img [src]="logo" id="logo" *ngIf="logo">
        <ion-img [src]="'data:image/png;base64, '+image_url" id="background-img"></ion-img>
        <div id="businessName">
          <h1 contenteditable="true">{{businessName}}</h1>
        </div>
        <h4 contenteditable="true">+91{{contactNo}}</h4>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="downloadImage()">
      <ion-icon name="cloud-download-outline"></ion-icon> Download Image
    </ion-button>
  </div>
  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</ion-content>
