<ion-content> 
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="xs-header1">Sign Up</ion-card-title>
      </ion-card-header>
      
      <ion-grid>
        <ion-row class="ion-justify-content-around">
          <ion-col size-xs="9" size-sm="5" size-lg="5">
            <ion-card>
              <ion-img src="../../../../assets/images/male-user.png" class="image"></ion-img>
            </ion-card>
          </ion-col>
  
          <div *ngIf="loading" class="spinner">
            <img src="../../../../assets/icon/spinner.gif">
          </div>

          <ion-col size-xs="12" size-sm="5" size="5.5">
            <ion-card-header>
              <ion-card-title class="xs-header2">Sign Up</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <form #form="ngForm" (ngSubmit)="onSubmit()">
                <ion-item>
                  <ion-label position="floating">Username</ion-label>
                  <ion-input type="username" name="username" [(ngModel)]="username"></ion-input>
                  <ion-icon class="icon" name="person-circle-outline" slot="end"></ion-icon>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
                  <ion-icon class="icon" name="mail" slot="end"></ion-icon>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input [type]="passwordType" clearOnEdit="false" name="password" [(ngModel)]="password">
                  </ion-input>
                  <ion-icon class="icon" [name]="passwordIcon" slot="end" (click)="hideShowPassword()"></ion-icon>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Business Category</ion-label>
                  <ion-select type="text" name="business_id" [(ngModel)]="business_id">
                    <ion-select-option *ngFor="let business of category" value={{business.business_id}} color="black">{{business.business_name}}</ion-select-option>
                  </ion-select>
                  <ion-icon class="icon" name="keypad-outline" slot="end"></ion-icon>
                </ion-item>
                
                <div class="handler">
                  <ion-button class="button" type="submit" slot="end">Sign Up</ion-button>
                  <a routerLink="/login">Have already an account? <span>Login here</span></a>
                </div>
              </form>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>