<ion-header>
  <ion-toolbar>
    <ion-title>Welcome To Dashboard</ion-title>
    <ion-button slot="end" fill="outline" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Add Category</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Add Category</ion-label>
        <ion-input type="text" name="category" [(ngModel)]="category"></ion-input>
      </ion-item>
      <ion-button (click)="addCategory()">Add</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>Add Template</ion-card-header>
      <div class="wrapper">
        <ion-item>
          <ion-label position="floating">Bussiness Category</ion-label>
          <ion-select [(ngModel)]="business_id1" name="business_id1">
            <ion-select-option *ngFor="let business of business_category" value={{business.business_id}}>{{business.business_name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Template Name</ion-label>
          <ion-input name="image_name" [(ngModel)]="image_name"></ion-input>
        </ion-item>
        <ion-input type="file" (change)="onSelectFile($event)" accept="image/*"></ion-input>
        <ion-img [src]="template_url" *ngIf="template_url"></ion-img>
        <ion-button (click)="onSubmit()">Upload</ion-button>
      </div>
  </ion-card>
  
  <ion-card>
    <ion-card-header>Add Default Message</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Bussiness Category</ion-label>
        <ion-select [(ngModel)]="business_id2" name="business_id2">
          <ion-select-option *ngFor="let business of business_category" value={{business.business_id}}>{{business.business_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Default Message</ion-label>
        <ion-input type="text" name="Message" [(ngModel)]="Message"></ion-input>
      </ion-item>
      <ion-button (click)="addMessage()">Add</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>Add Default Services</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Bussiness Category</ion-label>
        <ion-select [(ngModel)]="business_id3" name="business_id3">
          <ion-select-option *ngFor="let business of business_category" value={{business.business_id}}>{{business.business_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Default Services</ion-label>
        <ion-input type="text" name="service" [(ngModel)]="service"></ion-input>
      </ion-item>
      <ion-button (click)="addService()">Add</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card id="referal">
    <ion-card-header >
      <p>Generate Referal</p>
      <ion-button (click)="generateReferal()">Generate Referal</ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-item id="header">
        <ion-chip>
          <ion-label>Referal Code</ion-label>
          <ion-label>Assigned Status</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item *ngFor="let referal of referals" id="content">
        <ion-chip>{{referal.code}}</ion-chip>
        <ion-chip>{{referal.assigned_status}}</ion-chip>
        <ion-icon name="trash" color="danger" (click)="deleteReferal(referal.id)"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>