<ion-header>
  <ion-toolbar>
    <ion-title>chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart>
</ion-content>


<!-- <ion-card>
  <ion-card-header style="padding-bottom: 0">
    <ion-card-title class="" style="font-size: 20px; color: #c51162">Sub Agents total tickets</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  
  <div id="chart3">
    <apx-chart></apx-chart>
  </div>
</ion-card> -->