.grid{
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 1rem;
  ion-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    ion-img{
      opacity: 0.6;
      z-index: 1;
    }
  }
}